<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Администрирование</title>
</head>
<body>
<h2>Администрирование</h2>
</br>
<form action="/userform/">
    <button>Создать нового пользователя</button>
</form>
    </br>
    <h2>Список пользователей</h2>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Логин</th>
            <th>Пароль</th>
            <th>Телефон</th>
            <th>Почта</th>
            <th></th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
    <script src="/js/jquery.js"></script>
    <script>
        let tbody = $("tbody");
        $.ajax({
                url: "http://localhost:8080/admin",
                method: "POST",
                dataType: "json",
                success: (response) => {
                    response.forEach(
                       (user) => {
                            let buttons = $("<td>");
                            buttons.append($("<a>").attr("href", user.id).addClass("delete").text("Удалить"));

                            $("<tr>")
                                .append($("<td>").text(user.id))
                                .append($("<td>").text(user.name))
                                .append($("<td>").text(user.surname))
                                .append($("<td>").text(user.username))
                                .append($("<td>").text(user.password))
                                .append($("<td>").text(user.phone))
                                .append($("<td>").text(user.mail))
                                .append(buttons)
                                .appendTo(tbody);

                            buttons.find(".delete").click((event) => {
                                event.preventDefault();
                                let url = "http://localhost:8080/admin/" + $(event.target).attr("href");
                                $.ajax({
                                    url: url,
                                    method: "DELETE",
                                    success: (response) => {
                                    console.log(response);
                                    }
                                });
                            });
                        }

                    );
                },
                error: () => { alert("Ошибка получения списка пользователей"); }
        });
    </script>
</body>
</html>